<div class="container">
    <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="jumbotron jumbo">
                <form class="vivek" name="myform" ng-submit="login()" novalidate>
                    <div class="textintro">
                        <h2>Welcome !!!</h2>
                        <p>Log-in to access the Website!</p>
                        <p class="message" ng-show="message">{{message}}</p>
                    </div>
                    <div class="form-group">
                        <label>Email id:</label>
                        <input type="email" name="email" class="form-control" placeholder="Email" ng-model="user.email" ng-required="true">
                        <p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">valid emial</p>
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password" ng-required="true">
                        <p class="error validationerror" ng-show="myform.password.$invalid && myform.password .$touched">*required</p>
                    </div>
                    <div class="click">
                        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="myform.$invalid">Login</button>
                        <button class="btn btn-default btn-lg"><a href="#/register">Register</a></button>
                    </div>
                </form>
    </div>
        </div>
                <div class="col-lg-3"></div>
            </div>



